@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #3d4055
}

a {
    text-decoration: none;
}

h2 {
    color: #3d4055;
}

/* headings */

header {
    background-color: #fbfaf8;
    height: 75px;
}

#header-bar {
    height: 75px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px 1%;
}

#logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 150%;
    letter-spacing: 3px;
    color: #c84741;
}

.links-list li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
}

.links-list a {
    font-size: 150%;
    color: #c84741;
}

#nav-menu a:hover {
    color: #3d4055;
}

#logo-div {
    width: 33%;
    order: 0;
    text-align: center
}

#nav-div {
    width: 33%;
    order: -1;
}

#social-div {
    width: 33%;
    order: 1;
    display: flex;
    justify-content: flex-end;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-container {
    height: 200px;
    width: 40%;
    background-color: rgba(177, 200, 179, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

/* about section */

#about-us {
    background-color: #fbfaf8;
    margin: 20px 0;
}

#about-us h2 {
    text-align: center;
    padding-bottom: 20px;
}

#about-text {
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-para {
    height: 200px;
    width: 40%;
    background-color: rgba(177, 200, 179, 0.7);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-para p {
    padding: 20px 20px 0 20px;
}

.about-link {
    height: 20px;
    width: 33%;
    background-color: #c84741;
    color: #fbfaf8;
    border-radius: 30px;
    border: 2px solid #c84741;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.about-link a {
    color: inherit;
}

.about-link:hover {
    background-color: #fbfaf8;
    color: #c84741;
}

/* milkshakes menu */

#milkshakes {
    height: 600px;
    background-color: #7ea390;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.milk-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    max-height: 600px;
}

#milkshake-menu {
    width: 33%;
    color: #fbfaf8;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#milkshake-menu h2 {
    color: inherit;
    font-size: 200%;
    padding-bottom: 30px;
    text-align: center;
}

#milkshake-menu li {
    list-style-type: none;
    text-align: center;
    font-size: 140%;
}

#milkshake-menu li:nth-child(2n) {
    padding-bottom: 20px;
}

/* footer */

footer {
    height: 75px;
    background-color: #8a6f5a;
    color: #fbfaf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    clear: both;
}

footer a {
    color: inherit;
}

/* events page */
/* about events */

.events-section {
    height: 600px;
    width: 50%;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    background-color: #fbfaf8;
    margin-bottom: 1%;
}

.events-div {
    width: 100%;
    display: flex;
    align-items: center;
}

#game-pieces-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    max-height: 600px;
}

#about-events-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    max-height: 80%;
    text-align: center;
}

#about-events-text h2 {
    padding: 3%;
}

/* major events */

#major-events {
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
}

#major-events h2 {
    padding: 1%;
}

#major-events p {
    padding: 2%;
    text-align: center;
}

.game-link {
    background-color: #c84741;
    color: #fbfaf8;
    border-radius: 30px;
    border: 2px solid #c84741;
}

.game-link a {
    color: inherit;
}

.game-link:hover {
    background-color: #fbfaf8;
    color: #c84741;
}

#event-slider {
    height: 60%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#event-slider::-webkit-scrollbar {
    display: none;
}

.event {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 90%;
    margin: 0 10%;
    background-color: rgba(177, 200, 179, 0.7);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid #c84741;
    border-radius: 2%;
}

.event h2 {
    text-transform: uppercase;
}

#slider-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#slider-nav li {
    margin: 10px;
    list-style-type: none;
}

.slider-link {
    color: #c84741;
}

.slider-link :hover {
    color: #fbfaf8;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #c84741;
}

/* event calendar */

#calendar-title {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgba(177, 200, 179, 0.7);
    border: 2px solid #3d4055;
}

#calendar-div {
    display: flex;
    justify-content: center;
    background-color: #fbfaf8;
}

.month {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(177, 200, 179, 0.7);
    box-sizing: border-box;
    margin: 1%;
    padding: 0.5%;
    border: 2px solid #3d4055;
    border-radius: 2%;
}

.month h3 {
    padding-bottom: 2%;
}

.month li {
    list-style-type: none;
    padding: 5px;
}

/* bookings page */
/* booking form*/

#booking-form {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/catan-image.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#booking-form form {
    background-color: rgba(177, 200, 179, 0.7);
    width: 50%;
    margin: 5px;
    border-radius: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-contact-details {
    border: 1px solid #3d4055;
    padding: 5px;
    margin: 5px;
    width: 66%;
}

.form-input {
    padding: 5px;
    margin: 5px;
}

#form-name {
    margin-top: 10px;
}

#form-party-size {
    border: 1px solid #3d4055;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#form-date {
    padding: 5px;
    margin: 5px;
}

#form-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-box {
    border: 1px solid #3d4055;
    height: 200px;
    width: 300px;
}

#form-submit {
    background-color: #c84741;
    color: #fbfaf8;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #c84741;
    margin-bottom: 5px;
}

#form-submit:hover {
    background-color: #fbfaf8;
    color: #c84741;
}

/* map and address */

#map-and-directions {
    height: 600px;
    display: flex;
}

#location {
    width: 50%;
}

#location-map {
    width: 100%;
    height: 100%;
}

#address-and-contact {
    height: 100%;
    width: 50%;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.info-text h2 {
    border-bottom: 3px solid;
    color: #c84741;
}

.info-text p:nth-child(2) {
    padding-top: 10px;
}

/* media queries */

@media screen and (max-width: 1400px) {

    #logo {
        font-size: 100%;
    }

    #nav-menu {
        font-size: 80%;
    }

}

@media screen and (max-width: 1200px) {

    .milk-image {
        width: 100%;
        max-width: 225px;
        height: auto;
        max-height: 300px;
    }

    #milkshakes {
        justify-content: space-evenly;
        align-items: center;
    }

    .milk-image source,
    .milk-image img {
        border-radius: 20px;
    }

    .events-section {
        width: 100%;
    }

    .month li {
        font-size: 90%;
    }

}

@media screen and (max-width: 1000px) {

    #logo {
        font-size: 90%;
    }

    #nav-menu {
        font-size: 75%;
    }

    .links-list li {
        padding: 0 5px;
    }

    #intro-container {
        width: 50%;
    }

}

@media screen and (max-width: 800px) {

    body {
        font-size: 90%;
    }

    #logo {
        font-size: 70%;
    }

    .links-list {
        font-size: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #intro-container {
        width: 60%;
    }

    #milkshakes {
        height: 500px;
        overflow: hidden;
        background: url('../images/milkshake-background.jpg') no-repeat center center;
        background-size: cover;
    }

    #milkshake-menu {
        height: 80%;
        width: 66%;
        border-radius: 2%;
        background-color: #7ea390;
        opacity: 85%;
    }

    .milk-image {
        display: none;
    }

}

@media screen and (max-width: 600px) {

    #intro-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #about-text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-para {
        width: 80%;
        margin: 1% 0;
    }

    footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #calendar-div {
        flex-wrap: wrap;
    }

    .month {
        min-width: 100px;
    }

    .month li {
        font-size: 80%;
    }

}

@media screen and (max-width: 400px) {
    body {
        font-size: 80%;
    }
}