@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #3d4055
}

a {
    text-decoration: none;
}

h2 {
    color: #3d4055;
}

.color-block {
    width: 20%;
    height: 20px;
    float: left;
    box-sizing: border-box;
}

#color-one {
    background-color: #fbfaf8;
}

#color-two {
    background-color: #b1c8b3;
}

#color-three {
    background-color: #7ea390;
}

#color-four {
    background-color: #8a6f5a;
}

#color-five {
    background-color: #c84741;
}

/* headings */

header {
    background-color: #fbfaf8;
    height: 75px;
}

#header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px 1%;
}

#logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 150%;
    letter-spacing: 3px;
    color: #c84741;
}

.links-list li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
}

.links-list a {
    font-size: 150%;
    color: #c84741;
}

#nav-menu a:hover {
    color: #3d4055;
}

#logo-div {
    order: 0;
}

#nav-div {
    order: -1;
}

#social-div {
    order: 1;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-container {
    height: 200px;
    width: 33%;
    background-color: rgba(177, 200, 179, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

/* About section */

#about-us {
    background-color: #fbfaf8;
    margin: 20px 0;
}

#about-us h2 {
    text-align: center;
    padding-bottom: 20px;
}

#about-text {
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-para {
    height: 150px;
    width: 40%;
    background-color: rgba(177, 200, 179, 0.7);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-para p {
    padding: 30px 20px 0 20px;
}

#event-link {
    height: 50px;
    width: 20%;
    background-color: #c84741;
    color: #fbfaf8;
    border-radius: 30px;
    border: 2px solid #c84741;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

#event-link a {
    color: inherit;
}

#event-link:hover {
    background-color: #fbfaf8;
    color: #c84741;
}

/* Milkshakes Front Page */

#milkshakes {
    height: 600px;
    background-color: #7ea390;
}

#milkshakes-menu {
    width: 33%;
}

#milkshakes img {
    width: 33%;
}

/* Footer */

footer {
    height: 75px;
    background-color: #8a6f5a;
    color: #fbfaf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: inherit;
}